In [2]:
!pip install pymysql
!pip install cryptography

Requirement already satisfied: pymysql in /Users/eduardo/opt/anaconda3/lib/python3.9/site-packages (1.1.0)
Requirement already satisfied: cryptography in /Users/eduardo/opt/anaconda3/lib/python3.9/site-packages (3.4.8)
Requirement already satisfied: cffi>=1.12 in /Users/eduardo/opt/anaconda3/lib/python3.9/site-packages (from cryptography) (1.15.0)
Requirement already satisfied: pycparser in /Users/eduardo/opt/anaconda3/lib/python3.9/site-packages (from cffi>=1.12->cryptography) (2.21)

In [ ]:


import pymysql

timeout = 10
connection = pymysql.connect(
  charset="utf8mb4",
  connect_timeout=timeout,
  cursorclass=pymysql.cursors.DictCursor,
  db="defaultdb",
  host="mysql-eduardofarina-self-01.a.aivencloud.com",
  password="AVNS_EFCz8BR33pf0DTARSKL",
  read_timeout=timeout,
  port=27648,
  user="avnadmin",
  write_timeout=timeout,
)
  
try:
  cursor = connection.cursor()
  cursor.execute("CREATE TABLE mytest (id INTEGER PRIMARY KEY)")
  cursor.execute("INSERT INTO mytest (id) VALUES (1), (2)")
  cursor.execute("SELECT * FROM mytest")
  print(cursor.fetchall())
finally:
  connection.close()

In [ ]:
!pip install psycopg2

In [4]:


import psycopg2


def main():
    conn = psycopg2.connect('postgres://avnadmin:AVNS_HnesWmqFpCrMBE477T8@postgresql-eduardofarina-self-01.a.aivencloud.com:27648/defaultdb?sslmode=require')

    query_sql = 'SELECT VERSION()'

    cur = conn.cursor()
    cur.execute(query_sql)

    version = cur.fetchone()[0]
    print(version)


if __name__ == "__main__":
    main()

PostgreSQL 15.6 on x86_64-pc-linux-gnu, compiled by gcc (GCC) 13.2.1 20231011 (Red Hat 13.2.1-4), 64-bit

In [5]:
conn = psycopg2.connect('postgres://avnadmin:AVNS_HnesWmqFpCrMBE477T8@postgresql-eduardofarina-self-01.a.aivencloud.com:27648/defaultdb?sslmode=require')

query_sql = 'SELECT VERSION()'

cur = conn.cursor()
cur.execute(query_sql)

version = cur.fetchone()[0]
print(version)

PostgreSQL 15.6 on x86_64-pc-linux-gnu, compiled by gcc (GCC) 13.2.1 20231011 (Red Hat 13.2.1-4), 64-bit

In [ ]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

# Crear un DataFrame de ejemplo
data = {
    'id': [1, 2, 3, 4, 5],
    'nombre': ['Juan', 'María', 'Pedro', 'Laura', 'Ana'],
    'edad': [25, 30, 35, 40, 45]
}
df = pd.DataFrame(data)

# Conexión a la base de datos PostgreSQL
DB_HOST = 'postgresql-eduardofarina-self-01.a.aivencloud.com'
DB_PORT = '27648'
DB_NAME = 'defaultdb'
DB_USER = 'avnadmin'
DB_PASSWORD = 'AVNS_HnesWmqFpCrMBE477T8'

conn_str = f"postgresql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
engine = create_engine(conn_str)

# Nombre de la tabla en PostgreSQL
table_name = 'tabla_ejemplo'

# Crear la tabla en la base de datos PostgreSQL utilizando el DataFrame
df.to_sql(table_name, engine, if_exists='replace', index=False)

# Confirmar que la tabla se ha creado correctamente
with engine.connect() as conn:
    query = f"SELECT * FROM {table_name}"
    result = conn.execute(query)
    for row in result:
        print(row)

# Cerrar la conexión
engine.dispose()

In [ ]:
user="avnadmin",
password="AVNS_HnesWmqFpCrMBE477T8",
host="ostgresql-eduardofarina-self-01.a.aivencloud.com",
port="27648",
database="defaultdb"

In [10]:
import psycopg2
import pandas as pd
from psycopg2 import Error

# Conexión a la base de datos PostgreSQL

connection = psycopg2.connect('postgres://avnadmin:AVNS_HnesWmqFpCrMBE477T8@postgresql-eduardofarina-self-01.a.aivencloud.com:27648/defaultdb?sslmode=require')

cursor = connection.cursor()

    # Consulta SQL para crear la tabla
create_table_query = '''CREATE TABLE IF NOT EXISTS datos (
                            id SERIAL PRIMARY KEY,
                            nombre VARCHAR(100),
                            edad INTEGER); '''

    # Ejecutar la consulta para crear la tabla
cursor.execute(create_table_query)
connection.commit()
print("Tabla creada exitosamente en PostgreSQL ")

cursor.close()
connection.close()
print("Conexión a PostgreSQL cerrada")

Tabla creada exitosamente en PostgreSQL
Conexión a PostgreSQL cerrada

In [13]:
# Cargar datos desde un DataFrame de Pandas
data = {
    'nombre': ['Eduardo', 'Stella', 'Lucas', 'Anto', 'Joyi'],
    'edad': [12, 45, 45, 45, 45]
}
df = pd.DataFrame(data)

connection = psycopg2.connect('postgres://avnadmin:AVNS_HnesWmqFpCrMBE477T8@postgresql-eduardofarina-self-01.a.aivencloud.com:27648/defaultdb?sslmode=require')

# Conexión a la base de datos PostgreSQL
cursor = connection.cursor()

    # Consulta SQL para insertar datos en la tabla
insert_query = "INSERT INTO datos (nombre, edad) VALUES (%s, %s)"

    # Iterar sobre cada fila del DataFrame y ejecutar la consulta para insertar los datos
for index, row in df.iterrows():
    cursor.execute(insert_query, (row['nombre'], row['edad']))

connection.commit()
print("Datos insertados exitosamente en PostgreSQL ")

cursor.close()
connection.close()
print("Conexión a PostgreSQL cerrada")

Datos insertados exitosamente en PostgreSQL
Conexión a PostgreSQL cerrada

In [11]:
!pip install sqlalchemy
!pip install SQLAlchemy

Requirement already satisfied: sqlalchemy in /Users/eduardo/opt/anaconda3/lib/python3.9/site-packages (1.4.45)
Requirement already satisfied: greenlet!=0.4.17 in /Users/eduardo/opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy) (1.1.1)
Requirement already satisfied: SQLAlchemy in /Users/eduardo/opt/anaconda3/lib/python3.9/site-packages (1.4.45)
Requirement already satisfied: greenlet!=0.4.17 in /Users/eduardo/opt/anaconda3/lib/python3.9/site-packages (from SQLAlchemy) (1.1.1)

In [2]:
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /Users/eduardo/opt/anaconda3/lib/python3.9/site-packages (2.9.9)

In [9]:
import requests
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.sql import text

In [10]:
# Definimos el string de conexión
host = "postgresql-eduardofarina-self-01.a.aivencloud.com"
port = 27648
database = "defaultdb"
username = "avnadmin"
password = "AVNS_HnesWmqFpCrMBE477T8"

conn_string = f"postgresql://{username}:{password}@{host}:{port}/{database}"

engine = create_engine(conn_string)

create_table_query = text("""CREATE TABLE IF NOT EXISTS lucas2 (
                            id SERIAL PRIMARY KEY,
                            time TIMESTAMP,
                            temp FLOAT,
                            speed FLOAT,
                            pres FLOAT,
                            year VARCHAR(50),
                            month VARCHAR(50),
                            hour INTEGER);
                         """)
with engine.connect() as conn, conn.begin():
    conn.execute(create_table_query)

In [11]:
import pandas as pd
import os.path
from datetime import datetime
from sqlalchemy import create_engine, MetaData, Table, Column, String, Float, Integer, Date, Time
import psycopg2

In [12]:
def loadData(city):
    directoryPath = 'weather/' + city + '/bronce/data.parquet'

    if os.path.exists(directoryPath):
        df = pd.read_parquet(directoryPath)
        print(f"Los datos de la ciudad '{city}' fueron cargados con exito.")
    else:
        print(f"La ciudad '{city}' no existe.")
        df = pd.DataFrame()
    return df

In [13]:
#En esta variable se solicita la ciudad en particular que deseamos levantar la informacion.
city = 'Pico Truncado'
#Se envia la ciudad a la Funcion de verificacion y carga de los datos
df = loadData(city)
#Se muestra en encabezado del df.
df.head()

Los datos de la ciudad 'Pico Truncado' fueron cargados con exito.

                   time  temperature_2m  wind_speed_10m  surface_pressure
index
0      2024-01-01T00:00            22.6            28.6             976.6
1      2024-01-01T01:00            20.0            23.1             977.4
2      2024-01-01T02:00            18.2            17.0             978.3
3      2024-01-01T03:00            16.7            13.3             978.7
4      2024-01-01T04:00            15.3             9.1             979.3

In [14]:
df.drop_duplicates(subset=None, keep='last', inplace=True, ignore_index=False)
df.fillna(value=99999, method=None, axis=None, inplace=True)
#Aca se convierte la columna FechaTHora en formato Fecha Hora para cargar en la Base de Datos.

df['time'] = pd.to_datetime(df['time'])

#Se hace un split de esa fecha en Año, Mes y hora de cada dato registrado.
#Se crean nuevas columnas.
df['year'] = df['time'].dt.strftime('%Y')
df['month'] = df['time'].dt.strftime('%m')
df['hour'] = df['time'].dt.strftime('%H').astype(int)

df.rename(columns={'temperature_2m': 'temp', 'wind_speed_10m': 'speed', 'surface_pressure': 'pres'}, inplace=True)

In [15]:
df

                     time     temp    speed     pres  year month  hour
index
0     2023-01-01 00:00:00  99999.0  99999.0  99999.0  2023    01     0
1     2023-01-01 01:00:00  99999.0  99999.0  99999.0  2023    01     1
2     2023-01-01 02:00:00  99999.0  99999.0  99999.0  2023    01     2
3     2023-01-01 03:00:00  99999.0  99999.0  99999.0  2023    01     3
4     2023-01-01 04:00:00  99999.0  99999.0  99999.0  2023    01     4
...                   ...      ...      ...      ...   ...   ...   ...
10843 2024-03-27 19:00:00     19.6     15.9    982.7  2024    03    19
10844 2024-03-27 20:00:00     19.7     15.9    982.3  2024    03    20
10845 2024-03-27 21:00:00     19.4     15.1    981.8  2024    03    21
10846 2024-03-27 22:00:00     18.4      9.4    981.6  2024    03    22
10847 2024-03-27 23:00:00     15.6     11.1    981.6  2024    03    23

[10848 rows x 7 columns]

In [19]:
#connection = engine.raw_connection()

with engine.connect() as conn, conn.begin():
    df.to_sql(
        "lucas2",
        schema="public",
        con=conn,
        if_exists="append",
        method="multi",
        index=False
    )

/var/folders/mw/wqhsx1cx11gbp6hg5ry5qm3c0000gn/T/ipykernel_2583/519470922.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df.to_sql(

AttributeError: 'Connection' object has no attribute 'cursor'