# UTN - Data Engineering - Modulo 1 - TP1
## Extracción de datos y almacenamiento.

El Trabajo Practico consiste en extraer la temperatura, presion y velocidad del viento de una ciudad.
Estos datos posteriormente se utilizaran en Data Analytics para determinar si existe alguna relacion entre la temperatura-presion y la velocidad del viento en superficie.

Como parte del proceso, para extraer los datos, se requiere conocer las coordenadas geograficas de la ciudad estudiada.
El usuario ingresa la ciudad y el pais al que pertenece la ciudad.

La consulta a una API busca estos datos y devuelve las coordenas. Informacion que se guarda en un directorio en formato csv. 

Luego una segunda consulta a una API del clima utilizando las coordenadas obtenidas devuelve la informacion de la temperatura, presion y velocidad del viento.
La consulta se realiza para un rango de fechas ingresadas por el usuario.

La informacion obtenida se guarda en forma de parquet Incremental en el archivo data.parquet. Dentro del directorio 'bronce' correspondiente a la ciudad seleccionada.

### Se instalan las librerias principales

In [ ]:
!pip install requests
!pip install fastparquet
!pip install pandas

### Se importan las Librerias

Importo las libreria request para poder generar los get().

Importo Pandas para el manejo de Data Frames.

Importo os para el manejo de carpetas y archivos.

In [1]:
import requests
import pandas as pd
import os

/Users/eduardo/opt/anaconda3/lib/python3.9/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/Users/eduardo/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.4' currently installed).
  from pandas.core import (

### Seccion funciones que extraen de las API

En esta seccion se crean las funciones que extraen los datos de las API.

Genera dos funciones porque todavia mi capacidad de programador no me permite darme cuenta como hacer una sola funcion que sirva en multiples API.

In [2]:
# Esta funcion extrae las coordenadas geograficas de la ciudad ingresada.
# Devuelve un df con los resultados.

def get_city(cityName, country, headers):
    # URL de la API incluyendo la ciudad y el pais ingresados por el usuario
    baseUrl = 'https://api.api-ninjas.com/v1/geocoding?city=' + cityName + '&country=' + country
    
    response = requests.get(baseUrl, headers)
    
    adress = response.json()
    # Se verifica si se encontro o no la ciudad buscada.
    # De encontrarse la ciudad se genera un Data Frame.
    if len(adress) == 0:
        print('Ciudad no encontrada')
        return pd.DataFrame()
    else:
        return pd.DataFrame.from_dict(adress)

# Esta funcion extrae la temperatura, presion y velociad del viento.       
def get_weather(cityCoord, fechaStart, fechafin):
    
    # URL de la API de consulta para extrar temp., pres. y velocidad del viento para las coordenadas de la ciudad.
    # Se leen las coordenadas del df obtenido en la consulta anterior.
    clima = 'https://api.open-meteo.com/v1/forecast?latitude=' + str(cityCoord.iloc[0,1]) + '&longitude=' + str(cityCoord.iloc[0,2]) + '&hourly=temperature_2m,wind_speed_10m,surface_pressure&start_date=' + fechaStart + '&end_date=' + fechafin
    
    response = requests.get(clima)
    response_dict = response.json()
    
    # Se genera un Data Frame del json sin el encabezado, solo de la tabla de resultados en forma horaria.
    return pd.DataFrame.from_dict(response_dict['hourly'])

### Seccion funciones de verificacion de datos

En esta seccion se colocan las funciones que verifican si los datos son correctos o se deben corregir.

In [3]:
# Esta funcion intentria verificar si se encuentra mas de una ciudad con el mismo nombre en un mismo pais.
# Si la API devuelve mas de una fila con respuesta se muestre el resultado y se le pide que por consola elija una opcion.
# Es un poco precario, pero hasta el momento es lo que pude hacer. Si se pone 'Pico Truncado' Argentina. La API devuelve 4 resultados.
# En este caso el usuario debe elegir un numero entre 0 y 3 para que solo haya una valor.
# La funcion devuelve el df cun una sola fila que incluye la ciudad y las coordenadas.

def check_city(cityCoordDf):
    if len(cityCoordDf) == 0:
        print('Por favor ingrese correctamente el nombre de la ciudad')
    elif len(cityCoordDf) == 1:
        print('Ciudad encontrada correctamente')
        print(cityCoordDf.iloc[0,0])
        return cityCoordDf
    else:
        print(cityCoordDf)
        num = int(input("Elija el numero de la ciudad deseada: "))
        return pd.DataFrame(cityCoordDf.iloc[num,]).transpose()

### Seccion Resguardo de Datos

En esta seccion se crean las funciones de resguardo de los datos.

Una funcion para los datos de la ciudad y otra para los datos del clima.

In [4]:
# Genera el directorio con el nombre de la ciudad seleccionada
# Guarda los datos de la ciudad en formato csv, archivo simple de una sola line.

def saveDataCity(df):
    # variables del path del directorio y el nombre del archivo con la ciudad
    directoryPath = 'weather/' + df.iloc[0,0] + '/'
    dfName = directoryPath + df.iloc[0,0] + '.csv'
    # Verifica la existencia del directorio. Si no existe lo crea.
    directory = os.path.dirname(directoryPath)
    if directory and not os.path.exists(directory):
        os.makedirs(directory)
    # Guarda el archivo de la ciudad en el directorio
    df.to_csv(dfName, sep='\t')
       
# Guarda en formato parquet los datos obtenidos para la ciudad elejida.
# Esta funcion, realiza un resguardo en formato parquet, tando de un df nuevo
# como de uno existente al que se le agrega nueva informacion (parquet incremental)
def saveDataParquet(df, cityCoord, partitionCols=None):
    # Variable con el path y el nombre del archivo
    directoryPath = 'weather/' + cityCoord.iloc[0,0] + '/bronce/data.parquet'
    # Como el archivo parquet se guarda multiples veces, primero verifica si existe el directorio bronce
    # dentro del directorio de la ciudad. Si no existe lo crea.
    directory = os.path.dirname(directoryPath)
    if directory and not os.path.exists(directory):
        os.makedirs(directory)
    # Verifica si existe ya un archivo data.parquet
    # si existe lo lee y lo guarda en formato df. Luego le agrega la nueva consulta.
    # Si no existe, no hace nada, porque en el paso siguiente se guarda el df.
    if os.path.exists(directoryPath):
        df2 = pd.read_parquet(directoryPath)
        df = pd.concat((df2, df), axis = 0)
        #df = df2.append(df)
        os.remove(directoryPath)
    # Aca se guarda el df en formato parquet ya sea el nuevo archivo o el que haya sufrido un append.
    df.to_parquet(directoryPath)

### Ingreso de datos para extraccion

Seccion para ingresar los datos y trabajar con las API.

In [5]:
# Ingreso la ciudad a buscar.
cityName = 'Pico Truncado'
country = 'Argentina'

# Esta API requiere de un Key y se puede utilizar esta, no hay problema.
headers = {'X-Api-Key': 'YO3DOw3APQguBKsqQq0nMA==acw96vJrBQsSnpeG'}

# Se llama a la funcion.
cityCoordDf = get_city(cityName, country, headers)

In [ ]:
# Se llama a la funcion de control de las ciudades por si la respuesta no es unica.
# Hago una salvedad. Se podria poner todo en la misma funcion. Si me da el tiempo lo obtimizo.
# Lo realizo por partes, por inseguridad en la programacion y por control paso a paso.
cityCoord = check_city(cityCoordDf)

print(cityCoord)

In [7]:
# Genero el directorio para esa ciudad
# Y guardo las coordenadas Geograficas en un archivo csv
saveDataCity(cityCoord)

In [8]:
# Como la ciudad se extrajo con exito
# Ahora consulto el clima

# Antes se consulta las fechas a extraer.
fechaStart = '2024-01-01'
fechafin = '2024-03-27'

# Se crea el df llamando a la funcion para extraer el clima.
weather = get_weather(cityCoord, fechaStart, fechafin)

weather.head()

               time  temperature_2m  wind_speed_10m  surface_pressure
0  2024-01-01T00:00            22.6            28.6             976.6
1  2024-01-01T01:00            20.0            23.1             977.4
2  2024-01-01T02:00            18.2            17.0             978.3
3  2024-01-01T03:00            16.7            13.3             978.7
4  2024-01-01T04:00            15.3             9.1             979.3

In [9]:
# Se resguarda en formato parquet los datos del clima
# Se puede realizar otra consulta para otras fechas repitiendo el paso anterior
# Tambien se podria generar un script que se repita todos los dias, etc.

saveDataParquet(weather,cityCoord)

In [10]:
directoryPath = 'weather/' + cityCoord.iloc[0,0] + '/bronce/data.parquet'
df = pd.read_parquet(directoryPath)
df.describe

<bound method NDFrame.describe of                    time  temperature_2m  wind_speed_10m  surface_pressure
index
0      2024-03-17T00:00            14.3            44.3               NaN
1      2024-03-17T01:00            13.5            43.7               NaN
2      2024-03-17T02:00            12.9            40.8               NaN
3      2024-03-17T03:00            12.6            38.0               NaN
4      2024-03-17T04:00            12.5            39.2               NaN
...                 ...             ...             ...               ...
1387   2024-02-27T19:00            23.3            15.7            1003.3
1388   2024-02-27T20:00            23.4            15.1            1002.9
1389   2024-02-27T21:00            23.4            11.4            1002.6
1390   2024-02-27T22:00            23.3            12.2            1002.0
1391   2024-02-27T23:00            22.6            12.1            1001.8

[4896 rows x 4 columns]>

In [11]:
df.drop_duplicates(subset=None, keep='first', inplace=True, ignore_index=False)

df.describe

<bound method NDFrame.describe of                    time  temperature_2m  wind_speed_10m
index
0      2024-03-17T00:00            14.3            44.3
1      2024-03-17T01:00            13.5            43.7
2      2024-03-17T02:00            12.9            40.8
3      2024-03-17T03:00            12.6            38.0
4      2024-03-17T04:00            12.5            39.2
...                 ...             ...             ...
643    2024-02-27T19:00            23.3            15.7
644    2024-02-27T20:00            23.4            15.1
645    2024-02-27T21:00            23.4            11.4
646    2024-02-27T22:00            23.3            12.2
647    2024-02-27T23:00            22.6            12.1

[912 rows x 3 columns]>

In [16]:
df.fillna(value=99999, method=None, axis=None, inplace=True)
df

                   time  temperature_2m  wind_speed_10m  surface_pressure
index
0      2024-03-17T00:00            14.3            44.3           99999.0
1      2024-03-17T01:00            13.5            43.7           99999.0
2      2024-03-17T02:00            12.9            40.8           99999.0
3      2024-03-17T03:00            12.6            38.0           99999.0
4      2024-03-17T04:00            12.5            39.2           99999.0
...                 ...             ...             ...               ...
643    2024-02-27T19:00            23.3            15.7            1003.3
644    2024-02-27T20:00            23.4            15.1            1002.9
645    2024-02-27T21:00            23.4            11.4            1002.6
646    2024-02-27T22:00            23.3            12.2            1002.0
647    2024-02-27T23:00            22.6            12.1            1001.8

[2208 rows x 4 columns]

In [11]:
df

                   time  temperature_2m  wind_speed_10m  surface_pressure
index
0      2024-03-17T00:00            14.3            44.3               NaN
1      2024-03-17T01:00            13.5            43.7               NaN
2      2024-03-17T02:00            12.9            40.8               NaN
3      2024-03-17T03:00            12.6            38.0               NaN
4      2024-03-17T04:00            12.5            39.2               NaN
...                 ...             ...             ...               ...
1387   2024-02-27T19:00            23.3            15.7            1003.3
1388   2024-02-27T20:00            23.4            15.1            1002.9
1389   2024-02-27T21:00            23.4            11.4            1002.6
1390   2024-02-27T22:00            23.3            12.2            1002.0
1391   2024-02-27T23:00            22.6            12.1            1001.8

[4896 rows x 4 columns]

In [12]:
from datetime import datetime

df['time'] = pd.to_datetime(df['time'])

df['year'] = df['time'].dt.strftime('%Y')
df['hour'] = df['time'].dt.strftime('%H')

In [13]:
df

,time,temperature_2m,wind_speed_10m,surface_pressure,year,hour
index,,,,,,
0,2024-03-17 00:00:00,14.3,44.3,NaN,2024,00
1,2024-03-17 01:00:00,13.5,43.7,NaN,2024,01
2,2024-03-17 02:00:00,12.9,40.8,NaN,2024,02
3,2024-03-17 03:00:00,12.6,38.0,NaN,2024,03
4,2024-03-17 04:00:00,12.5,39.2,NaN,2024,04
...,...,...,...,...,...,...
1387,2024-02-27 19:00:00,23.3,15.7,1003.3,2024,19
1388,2024-02-27 20:00:00,23.4,15.1,1002.9,2024,20
1389,2024-02-27 21:00:00,23.4,11.4,1002.6,2024,21
1390,2024-02-27 22:00:00,23.3,12.2,1002.0,2024,22
1391,2024-02-27 23:00:00,22.6,12.1,1001.8,2024,23

In [14]:
df.rename(columns={'temperature_2m': 'temp', 'wind_speed_10m': 'speed', 'surface_pressure': 'pres'}, inplace=True)
df

                     time  temp  speed    pres  year hour
index
0     2024-03-17 00:00:00  14.3   44.3     NaN  2024   00
1     2024-03-17 01:00:00  13.5   43.7     NaN  2024   01
2     2024-03-17 02:00:00  12.9   40.8     NaN  2024   02
3     2024-03-17 03:00:00  12.6   38.0     NaN  2024   03
4     2024-03-17 04:00:00  12.5   39.2     NaN  2024   04
...                   ...   ...    ...     ...   ...  ...
1387  2024-02-27 19:00:00  23.3   15.7  1003.3  2024   19
1388  2024-02-27 20:00:00  23.4   15.1  1002.9  2024   20
1389  2024-02-27 21:00:00  23.4   11.4  1002.6  2024   21
1390  2024-02-27 22:00:00  23.3   12.2  1002.0  2024   22
1391  2024-02-27 23:00:00  22.6   12.1  1001.8  2024   23

[4896 rows x 6 columns]

In [10]:
!pip install sqlalchemy-utils

Requirement already satisfied: sqlalchemy-utils in /Users/eduardo/opt/anaconda3/lib/python3.9/site-packages (0.41.2)
Requirement already satisfied: SQLAlchemy>=1.3 in /Users/eduardo/opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy-utils) (1.4.32)
Requirement already satisfied: greenlet!=0.4.17 in /Users/eduardo/opt/anaconda3/lib/python3.9/site-packages (from SQLAlchemy>=1.3->sqlalchemy-utils) (1.1.1)

In [ ]:
from sqlalchemy import create_engine

In [ ]:
from sqlalchemy import create_engine

engine = create_engine('postgres://avnadmin:AVNS_YWr_pRTqSoTZq41JlYy@pg-214ccdb6-self-01.a.aivencloud.com:27648/defaultdb?sslmode=require')

conn = engine.connect()

conn.execute("commit")

with engine.begin() as conn:
    conn.execute('CRATE TABLE IF NOT EXISTS ....;')

conn.close()

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="mysql-179d8e-self-01.a.aivencloud.com",
  user="avnadmin",

)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE mydatabase")

In [4]:
!pip install pymysql
!pip install cryptography

Requirement already satisfied: pymysql in /Users/eduardo/opt/anaconda3/lib/python3.9/site-packages (1.1.0)
Requirement already satisfied: cryptography in /Users/eduardo/opt/anaconda3/lib/python3.9/site-packages (3.4.8)
Requirement already satisfied: cffi>=1.12 in /Users/eduardo/opt/anaconda3/lib/python3.9/site-packages (from cryptography) (1.15.0)
Requirement already satisfied: pycparser in /Users/eduardo/opt/anaconda3/lib/python3.9/site-packages (from cffi>=1.12->cryptography) (2.21)

In [ ]:
import pymysql

timeout = 10
connection = pymysql.connect(
    charset="utf8mb4",
    connect_timeout=timeout,
    cursorclass=pymysql.cursors.DictCursor,
    db='test',
    host='mysql-179d8e-self-01.a.aivencloud.com',
 
    read_timeout=timeout,
    port=27648,
    user='avnadmin',
    write_timeout=timeout,
)

try:
    cursor = connection.cursor()
    cursor.execute("CREATE TABLE mytest (id INTEGER PRIMARY KEY)")
    cursor.execute("INSERT INTO mytest (id) VALUES (1), (2)")
    cursor.execute("SELECT * FROM mytest")
    print(cursor.fetchall())
finally:
    connection.close()

In [9]:
import mysql.connector

In [10]:
# import the mysql client for python

import pymysql

 

# Create a connection object

databaseServerIP            = "mysql-179d8e-self-01.a.aivencloud.com"  # IP address of the MySQL database server

databaseUserName            = "avnadmin"       # User name of the database server



 

newDatabaseName             = "NewDatabase" # Name of the database that is to be created

charSet                     = "utf8mb4"     # Character set

cusrorType                  = pymysql.cursors.DictCursor

 

connectionInstance   = pymysql.connect(host=databaseServerIP, user=databaseUserName, password=databaseUserPassword,

                                     charset=charSet,cursorclass=cusrorType)

 

try:

    # Create a cursor object

    cursorInsatnce        = connectionInstance.cursor()                                    

 

    # SQL Statement to create a database

    sqlStatement            = "CREATE DATABASE "+newDatabaseName  

 

    # Execute the create database SQL statment through the cursor instance

    cursorInsatnce.execute(sqlStatement)

 

    # SQL query string

    sqlQuery            = "SHOW DATABASES"

 

    # Execute the sqlQuery

    cursorInsatnce.execute(sqlQuery)

 

    #Fetch all the rows

    databaseList                = cursorInsatnce.fetchall()

 

    for datatbase in databaseList:

        print(datatbase)

 

except Exception as e:

    print("Exeception occured:{}".format(e))

 

finally:

    connectionInstance.close()

OperationalError: (2003, "Can't connect to MySQL server on 'mysql-179d8e-self-01.a.aivencloud.com' (timed out)")