In [54]:
!pip install psycopg2-binary
!pip install sqlalchemy
!pip install pandas

Requirement already satisfied: psycopg2-binary in /Users/eduardo/opt/anaconda3/lib/python3.9/site-packages (2.9.9)
Requirement already satisfied: sqlalchemy in /Users/eduardo/opt/anaconda3/lib/python3.9/site-packages (1.4.32)
Requirement already satisfied: greenlet!=0.4.17 in /Users/eduardo/opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy) (1.1.1)
Requirement already satisfied: pandas in /Users/eduardo/opt/anaconda3/lib/python3.9/site-packages (2.2.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/eduardo/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2024.1)
Requirement already satisfied: pytz>=2020.1 in /Users/eduardo/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy<2,>=1.22.4 in /Users/eduardo/opt/anaconda3/lib/python3.9/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/eduardo/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/eduardo/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
import pandas as pd
import os
from datetime import datetime

/Users/eduardo/opt/anaconda3/lib/python3.9/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/Users/eduardo/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.4' currently installed).
  from pandas.core import (

In [4]:
directoryPath = 'weather/Pico Truncado/bronce/data.parquet'
df = pd.read_parquet(directoryPath)
df.describe

<bound method NDFrame.describe of                   time  temperature_2m  wind_speed_10m  surface_pressure
0     2024-01-01T00:00            22.6            28.6             976.6
1     2024-01-01T01:00            20.0            23.1             977.4
2     2024-01-01T02:00            18.2            17.0             978.3
3     2024-01-01T03:00            16.7            13.3             978.7
4     2024-01-01T04:00            15.3             9.1             979.3
...                ...             ...             ...               ...
2083  2024-03-27T19:00            19.6            15.9             982.7
2084  2024-03-27T20:00            19.7            15.9             982.3
2085  2024-03-27T21:00            19.4            15.1             981.8
2086  2024-03-27T22:00            18.4             9.4             981.6
2087  2024-03-27T23:00            15.6            11.1             981.6

[2088 rows x 4 columns]>

In [ ]:
df.drop_duplicates(subset=None, keep='first', inplace=True, ignore_index=False)

df.describe

In [ ]:
df.fillna(value=99999, method=None, axis=None, inplace=True)
df

In [ ]:
df['time'] = pd.to_datetime(df['time'])

df['year'] = df['time'].dt.strftime('%Y')
df['hour'] = df['time'].dt.strftime('%H')

In [9]:
df.rename(columns={'temperature_2m': 'temp', 'wind_speed_10m': 'speed', 'surface_pressure': 'pres'}, inplace=True)
df

                  time  temp  speed   pres
0     2024-01-01T00:00  22.6   28.6  976.6
1     2024-01-01T01:00  20.0   23.1  977.4
2     2024-01-01T02:00  18.2   17.0  978.3
3     2024-01-01T03:00  16.7   13.3  978.7
4     2024-01-01T04:00  15.3    9.1  979.3
...                ...   ...    ...    ...
2083  2024-03-27T19:00  19.6   15.9  982.7
2084  2024-03-27T20:00  19.7   15.9  982.3
2085  2024-03-27T21:00  19.4   15.1  981.8
2086  2024-03-27T22:00  18.4    9.4  981.6
2087  2024-03-27T23:00  15.6   11.1  981.6

[2088 rows x 4 columns]

In [11]:


from sqlalchemy import create_engine, MetaData, Table, Column, String, Float, Integer
# Conecta a la base de datos PostgreSQL
#engine = create_engine('postgresql://avnadmin:AVNS_YWr_pRTqSoTZq41JlYy@pg-214ccdb6-self-01.a.aivencloud.com:27648/defaultdb?sslmode=require')
engine = create_engine('postgresql://avnadmin:AVNS_YWr_pRTqSoTZq41JlYy@pg-214ccdb6-self-01.a.aivencloud.com:27648/defaultdb')
# Define la estructura de la tabla
metadata = MetaData()
ejemplo_table = Table('ejemplo4', metadata,
    Column('time', String(50), nullable=False), #primary_key=True),
    Column('temp', Float, nullable=False),
    Column('speed', Float, nullable=False),
    Column('pres', Float, nullable=False),
)
df.to_sql('ejemplo4', engine, if_exists='replace', method='multi')
# Crea la tabla en la base de datos
metadata.create_all(engine)

print("Tabla 'ejemplo' creada exitosamente en PostgreSQL.")

/var/folders/mw/wqhsx1cx11gbp6hg5ry5qm3c0000gn/T/ipykernel_2116/2137451049.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df.to_sql('ejemplo4', engine, if_exists='replace', method='multi')

AttributeError: 'Engine' object has no attribute 'cursor'

In [ ]:
engine = create_engine('postgresql://avnadmin:AVNS_YWr_pRTqSoTZq41JlYy@pg-214ccdb6-self-01.a.aivencloud.com:27648/defaultdb', fast_executemany=True)
df.to_sql('ejemplo4', engine, if_exists='replace', method='multi')

In [7]:
from sqlalchemy import create_engine, MetaData, Table, Column, String, Float

# Crear una instancia de motor para la base de datos
# Reemplaza 'postgresql://usuario:contraseña@host:puerto/nombre_base_de_datos' con tus propios valores
#engine = create_engine('postgresql://usuario:contraseña@host:puerto/nombre_base_de_datos')

# Conectarse a la base de datos
connection = engine.connect()

# Crear un objeto MetaData
metadata = MetaData()

# Definir la estructura de la tabla
ejemplo_table = Table('ejemplo8', metadata,
    Column('time', String(50), nullable=False),
    Column('temp', Float, nullable=False),
    Column('speed', Float, nullable=False),
    Column('pres', Float, nullable=False),
)

# Crear la tabla en la base de datos
metadata.create_all(engine)

print("La tabla 'ejemplo4' se ha creado exitosamente en la base de datos PostgreSQL.")

La tabla 'ejemplo4' se ha creado exitosamente en la base de datos PostgreSQL.

In [ ]:
# Nombre de la tabla en la base de datos
nombre_tabla = 'ejemplo8'  # Reemplaza 'nombre_tabla' con el nombre de tu tabla en la base de datos

# Crear una conexión a la base de datos
conn = engine.connect()

# Iterar sobre las filas del DataFrame e insertarlas en la tabla
for index, row in df.iterrows():
    insert_query = f"INSERT INTO {nombre_tabla} (time, temp, speed, pres) VALUES ('{row['time']}', {row['temp']}, {row['speed']}, {row['pres']})"
    conn.execute(insert_query)

# Cerrar la conexión
conn.close()

print("Los datos se han insertado exitosamente en la tabla en la base de datos PostgreSQL.")

In [ ]:

# Crear una conexión a la base de datos
conn = engine.connect()

df.to_sql('ejemplo4', conn, if_exists='replace', method='multi')

# Cerrar la conexión
conn.close()